<section id="contacto" class="relative flex items-center justify-center mt-20">
	<h2
		class="relative text-center text-2xl font-semibold text-white before:content-[''] before:absolute before:w-16 before:h-px before:bg-white before:left-[-5rem] before:top-1/2 before:transform before:-translate-y-1/2 after:content-[''] after:absolute after:w-16 after:h-px after:bg-white after:right-[-5rem] after:top-1/2 after:transform after:-translate-y-1/2"
	>
		Contacto
	</h2>
</section>
