---
import HeroSection from "../components/Homepage/Sections/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Portafolio de David Martínez | Desarrollador | Programador Web"
	description="Hey! Soy David, este es mi portafolio. Soy desarrollador y programador web. Especializado en crear aplicaciones únicas. Pongámonos en contacto para diseñar tu aplicación."
>
	<main>
		<HeroSection />
	</main>
</Layout>

<style></style>
