---
import Hero from "../components/Homepage/Sections/Hero.astro";
import About from "../components/Homepage/About/About.astro";
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Homepage/Experience/Experience.astro";
import Projects from "../components/Homepage/Projects/Projects.astro";
import Contact from "../components/Homepage/Contact/Contact.astro";
---

<Layout
	title="Portafolio de David Martínez | Desarrollador | Programador Web"
	description="Hey! Soy David, este es mi portafolio. Soy desarrollador y programador web. Especializado en crear aplicaciones únicas. Pongámonos en contacto para diseñar tu aplicación."
>
	<main class="container mx-auto min-h-screen">
		<Hero />
		<About />
		<Experience />
		<Projects />
		<Contact />
	</main>
</Layout>
