---
import Hero from "../components/layout/sections/Hero.astro";
import About from "../components/layout/sections/about/About.astro";
import Layout from "../layouts/Layout.astro";
import Experience from "../components/layout/sections/experience/Experience.astro";
import Projects from "../components/layout/sections/projects/Projects.astro";
import Contact from "../components/layout/sections/contact/Contact.astro";
---

<Layout
	title="Portafolio de David Martínez | Desarrollador | Programador Web"
	description="Hey! Soy David, este es mi portafolio. Soy desarrollador y programador web. Especializado en crear aplicaciones únicas. Pongámonos en contacto para diseñar tu aplicación."
>
	<main class="container mx-auto">
		<Hero />
		<About />
		<Experience />
		<Projects />
		<Contact />
	</main>
</Layout>
