---
import Sidebar from "./Sidebar.astro";

const navItems = [
	{ title: "Sobre mí", label: "sobre-mí", url: "/#sobre-mi" },
	{ title: "Proyectos", label: "proyectos", url: "/#proyectos" },
	{ title: "Experiencia", label: "experiencia", url: "/#experiencia" },
	{title: "Contacto", label:"contacto", url:"/#contacto"},
];
---

<header class="sticky top-0 z-50 w-full mx-auto mt-2">
	<div class="flex items-center justify-between p-4">
		<a href="/" aria-label="home" class="block text-xl group">
			<p><span class="font-bold group-hover:text-[#00b4d8]">DMZ</span>dev.</p>
		</a>

		<!-- <Sidebar navItems={navItems} /> -->

		<nav class="hidden md:flex flex-row gap-x-8 opacity-80">
			{
				navItems.map((data) => (
					<a
						href={data.url}
						aria-label={data.label}
						class="block text-base font-medium"
					>
						{data.title}
					</a>
				))
			}
		</nav>
	</div>
</header>
