<header class="flex items-center justify-between py-3 w-[1120px]">
    <!-- <img src="" alt="dmz logo" class="size-6"> -->
    <div class="text-3xl">
        <a href="/">
            <span><strong>DMZ</strong>dev.</span>
        </a>
    </div>

    <nav class="flex flex-row gap-x-8 opacity-80 text-base">
        <a href="/about" class="no-underline outline-none">About</a>
        <a href="/projects" class="no-underline outline-none">Projects</a>
        <!-- <a href="/experience"></a> -->
        <a href="/contact" class="no-underline outline-none">Contact</a>
    </nav>
</header>