<section id="sobre-mi" class="relative flex items-center justify-center mt-20">
	<div class="about-img">
		<img src="" alt="David Martínez" />
	</div>
	<div class="about-text">
		<h2 class="">Sobre <span class="text-[#00b4d8]">Mi</span></h2>
		<h4>Desarrollador Web Creativo</h4>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ea excepturi
			dolores aperiam animi laborum nisi illum consectetur quam inventore nobis
			nostrum eum cum dolor provident, exercitationem possimus officia earum?
		</p>
	</div>
	<!-- <h2
		class="relative text-center text-2xl font-semibold text-[#FFFAFA] before:content-[''] before:absolute before:w-16 before:h-px before:bg-white before:left-[-5rem] before:top-1/2 before:transform before:-translate-y-1/2 after:content-[''] after:absolute after:w-16 after:h-px after:bg-white after:right-[-5rem] after:top-1/2 after:transform after:-translate-y-1/2"
	>
		Sobre Mi
	</h2> -->
</section>
